.grid {
    display: grid;
    grid-template-columns: auto 55%;
    gap: 10px;
}

@media only screen and (max-width: 1000px) {
    .grid {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
}
 

.rightTranslate {
    position: absolute;
    -webkit-transition: 0.05s;
    -moz-transition: 0.05s;
    -ms-transition: 0.05s;
    -o-transition: 0.05s;
    transition: 0.05s;
    margin-left: -1px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.leftTranslate {
    position: absolute;
    -webkit-transition: 0.05s;
    -moz-transition: 0.05s;
    -ms-transition: 0.05s;
    -o-transition: 0.05s;
    transition: 0.05s;
    margin-left: 50px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}
